<h1 class="m-16 my-8 text-lg  ">
This is a simple CRUD Contact App, made with nodeJS, Express, tailwindCSS and database just with JSON file.</h1>
<h1  class="m-16 my-8"><a class="text-sky-800 hover:underline hover:text-sky-600" href="https://www.youtube.com/watch?v=sSLJx5t4OJ4&list=PLFIM0718LjIW-XBdVOerYgKegBtD6rSfD">reference</a></h1>