<div class="h-[80vh] flex justify-center items-center">
    <h1 class="text-8xl leading-tight text-center font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-700 to-pink-500" style="font-family: 'Inter', sans-serif;" >Simple Create,  Read, <br>
    Update, Delete <br> App.</h1>
</div>
